<% unless comment.commenter.nil? || comment.archived? %>
  <h5 style="color: yellowgreen;">
    <%= comment.commenter.split("@")[0] %>: 
  </h5>
  <p>
    <%= comment.body %>
  </p>

  <p>
    <%= link_to 'Destroy Comment', [comment.article, comment],
                method: :delete,
                data: { confirm: "Are you sure?" } %>
  </p>
  <br>
<%end %>