<div style="position: absolute; top: 10%;
    background-image: url(<%=asset_path("northwestern.jpg")%>);
  min-height: 100%; width: 100%; height: auto;"
  class= " image-background" id="image-background-adjust">
</div>