<%= image_tag 'skyline.jpg',:style => "object-fit: cover; height: 100%; width: 100%;"%>
<div style="position: absolute;
  top: 10%; width: 100%; padding: 5%; height: 90%;" class="greyQuadRight">
	<%= render "form", article: @article %>
</div>