function displayArticles(){
	$('#display-articles').empty()
	var table = "<table class='table table-hover'><tr class='greyQuadRight table-dark'><th>Name</th></tr>"
	var count = 2
	<%@article.select{|article| article[:tag] == @selected_tag}.each do |article|%>
		count += 0.2
		table += '<tr class="greyQuadRight table-dark" style = "animation-duration:' + count + 's;" ><th><a href="<%= article_path(article)%>" style= "color: inherit;"><%= article.title %></a></th></tr>'
	<%end%>
	table += "</table>"
	console.log(table)
	$('#display-articles').append(table)
}
displayArticles()