<nav class="navbar navbar-expand-lg navbar-dark bg-primary " style="height: 10%; padding: inherit; position: fixed; width: 100%; z-index: 1;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Blog</a>
    </div>
    <ul class="nav navbar-nav" style="display: -webkit-inline-box;">   
      <li class="nav-item">
        <%= link_to 'Home', home_index_path, class: 'nav-link active'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Articles', articles_path, class: 'nav-option nav-link active'%>
        </li>
      <% if user_signed_in? %>
      <li class="nav-item"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-option nav-link active' %></li>
      <% else %>
      <li class="nav-item"><%= link_to 'Sign Up', new_user_registration_path, class: 'nav-option nav-link active' %>  
      </li>
      <% end %>
    </ul>
  </div>
</nav>