<div class='jumbotron' style='position: relative; z-index: -1;'><%= image_tag 'uchicago.jpg',:style => "width: 100%; z-index: -1;"%>
	<div class="card text-white bg-primary mb-3" style="max-width: 20rem; position: absolute; top: 75%; left: 15%;">
 		 <div class="card-body">
    		<h4 class="card-title">Read up!</h4>
    		<p class="card-text">Our blog has <%= Article.public_count %> articles and counting!</p>
  		</div>
	</div>
	<div class="card text-white bg-primary mb-3" style="max-width: 20rem; position: absolute; top: 75%; right: 15%;">
	  <div class="card-body">
	    <h4 class="card-title">Share your thoughts!</h4>
	    <p class="card-text">Sign in and leave a comment</p>
	  </div>
	</div>
</div>