 <div>
 <div class="card border-light mb-3" style="max-width: 20rem; position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);">
    <div class="card-header" style="display: flex;">
      <%= button_to 'Sign Up', signupform_path, remote: true , :class  => "btn btn-primary"%>
      <%= button_to 'Log In', loginform_path, remote: true, :class  => "btn btn-primary"%>
<!--       <button id="signupBttn" type="button" class="btn btn-secondary" style="flex-grow: 1;" onclick="signUp()" disabled>Sign Up</button>
      <button id="loginBttn" type="button" class="btn btn-secondary" style="flex-grow: 1;" onclick="signIn()">Log In</button> -->
    </div>
    <div class="card-body">
      <div id="user_card">
        <%= render "shared/signup"%>
      </div>
    </div>
  </div>
</div>